# Confluent Kafka
KAFKA_BOOTSTRAP_SERVERS=pkc-xxxxx.region.provider.confluent.cloud:9092
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISMS=PLAIN
KAFKA_API_KEY=
KAFKA_API_SECRET=

# Schema Registry
SCHEMA_REGISTRY_URL=https://psrc-xxxxx.region.provider.confluent.cloud
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_API_SECRET=

# Producer settings
ORDERS_TOPIC=macd_orders_raw
PAYMENTS_TOPIC=macd_payments_raw
ORDERS_SUBJECT=macd_orders_raw-value
PAYMENTS_SUBJECT=macd_payments_raw-value
ORDERS_SCHEMA_FILE=orders_avro_schema.json
PAYMENTS_SCHEMA_FILE=payments_avro_schema.json
MOCK_MESSAGE_COUNT=100
MOCK_SLEEP_SECONDS=1

# Mongo sink consumer settings
CONSUME_TOPIC=macd_orders_payments_raw_joined
CONSUME_SUBJECT=macd_orders_payments_raw_joined-value
KAFKA_CONSUMER_GROUP=mongo-sink-group
KAFKA_AUTO_OFFSET_RESET=earliest

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=mcdonalds
MONGODB_COLLECTION=orders_payments
MONGO_SINK_MODE=joined
